*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#f9f9f9 ;
    font-family: "Work Sans", sans-serif;
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

img{
    width: 100px;
}

h1{
    font-family: "Fjalla One", sans-serif;

}

form{
    background-color: #e4f0a2;
    padding: 15px;
    border-radius: 20px;
}

fieldset{
    padding:15px;
    border: 2px solid #cccc ;
    border-radius: 10px;
}